<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configVersion</key>
	<integer>160</integer>
	<key>enabled</key>
	<true/>
	<key>spoofScreen</key>
	<false/>
	<key>spoofAdvertisingIdentifiers</key>
	<true/>
	<key>spoofProcessHardware</key>
	<false/>
	<key>spoofLocale</key>
	<false/>
	<key>spoofCarrier</key>
	<false/>
	<key>spoofStorage</key>
	<false/>
	<key>spoofBaiduSDK</key>
	<true/>
	<key>spoofSysctl</key>
	<true/>
	<key>spoofKeychain</key>
	<true/>
	<key>spoofUserAgent</key>
	<true/>
	<key>bypassJailbreakDetect</key>
	<true/>
	<key>deviceName</key>
	<string>iPhone</string>
	<key>deviceModel</key>
	<string>iPhone</string>
	<key>marketingModel</key>
	<string>iPhone</string>
	<key>systemVersion</key>
	<string>15.7.1</string>
	<key>systemBuild</key>
	<string>19H307</string>
	<key>idfa</key>
	<string>8C4BF2A1-7D3E-4F5A-9B6C-2D8E1F3A5B7C</string>
	<key>idfv</key>
	<string>3E7A9D2C-5F8B-4E1A-9C6D-8B2F4E7A1D3C</string>
	<key>cuid</key>
	<string>A1B2C3D4E5F6A7B8C9D0E1F2A3B4C5D6</string>
	<key>utdid</key>
	<string>a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6</string>
	<key>deviceID</key>
	<string>A1B2C3D4-E5F6-A7B8-C9D0-E1F2A3B4C5D6</string>
	<key>userAgent</key>
	<string></string>
	<key>carrierName</key>
	<string>中国移动</string>
	<key>mcc</key>
	<string>460</string>
	<key>mnc</key>
	<string>00</string>
	<key>isoCountryCode</key>
	<string>cn</string>
	<key>diskSize</key>
	<integer>64</integer>
	<key>memorySize</key>
	<integer>2048</integer>
	<key>kernHostname</key>
	<string>iPhone</string>
	<key>hwMachine</key>
	<string>iPhone10,1</string>
	<key>hwModel</key>
	<string>D20AP</string>
	<key>kernOSVersion</key>
	<string>19H307</string>
	<key>screenWidth</key>
	<integer>375</integer>
	<key>screenHeight</key>
	<integer>667</integer>
	<key>screenScale</key>
	<integer>2</integer>
	<key>localeIdentifier</key>
	<string>zh_CN</string>
</dict>
</plist>
